@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?y3yljq');
    src:  url('fonts/icomoon.eot?y3yljq#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?y3yljq') format('truetype'),
    url('fonts/icomoon.woff?y3yljq') format('woff'),
    url('fonts/icomoon.svg?y3yljq#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-send:before {
    content: "\e900";
}
.icon-paper-plane-o:before {
    content: "\e901";
}
.icon-send-o:before {
    content: "\e901";
}
.icon-envelop:before {
    content: "\e945";
}
.icon-eye:before {
    content: "\e9ce";
}
.icon-info:before {
    content: "\ea0c";
}
