@import "../../node_modules/leaflet/dist/leaflet.css";
@import "../../node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css";
@import "./icomoon";


$color_need: #DE2C08;
$color_help: #59BF37;

$color_conversation_footer: #54BB72;
$color_conversation_footer_textarea: #F6FBF6;
$color_conversation_sender: #A5C3B2;
$color_conversation_receiver: #EAF5F4;
$color_conversation_header: #CCE3DE;

$conversation_radius: 5px;

body {
    background-color: $color_conversation_receiver !important;
}

.corona-hide {
    display: none !important;
}

.cluster {
    background: #3498db;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: 700;
    border: 1px solid #3498db;
    font-family: monospace;

    &-help {
        background: $color_help;
        border: 1px solid $color_help;
    }

    &-need {
        background: $color_need;
        border: 1px solid $color_need;
    }

}


.cluster:before {
    content: ' ';
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    border: 1px solid white;
}
.digits-1 {
    font-size: 14px;
    height: 28px;
    width: 28px;
    line-height: 28px;
    margin-top: -14px;
    margin-left: -14px;
}
.digits-2 {
    font-size: 16px;
    height: 34px;
    width: 34px;
    line-height: 35px;
    margin-top: -17px;
    margin-left: -17px;
}
.digits-2:before {
    border-width: 2px;
}
.digits-3 {
    font-size: 18px;
    height: 48px;
    width: 47px;
    line-height: 47px;
    border-width: 3px;
    margin-top: -24px;
    margin-left: -24px;
}
.digits-3:before {
    border-width: 3px;
}
.digits-4 {
    font-size: 18px;
    height: 58px;
    width: 58px;
    line-height: 57px;
    border-width: 4px;
    margin-top: -29px;
    margin-left: -29px;
}
.digits-4:before {
    border-width: 4px;
}

// popup

.popup-container {
    padding: 10px;
}

.markerContainer {
    display: flex;
    flex-direction: column;

    #pseudo {
        margin-bottom: 10px;
    }

    #message {
        margin-bottom: 10px;
    }

    .controls {
        display: flex;
        justify-content: space-between;
    }
}

// layout
#mainContainer {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    #headerContainer {
        width: 100%;
        height: 10%;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;

        #title {
            text-align: center;
            font-size: 40px;
            //line-height: 80px;
            width: fit-content;
            margin: auto;
            padding: 10px;
            box-sizing: border-box;
            background-color: $color_conversation_sender;
            color: #fff;
            border-radius: 15px;
            font-variant-caps: small-caps;
        }

        #helpers {
            width: 40%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            div {
                padding: 10px;
                height: fit-content;
                background-color: $color_conversation_footer;
                color: white;
                border-radius: 10px;
                margin-left: 5px;
                margin-right: 5px;
                font-size: 1.75em;
                cursor: pointer;
            }

            div.user {
                font-size: 1em;
            }
        }

    }

    #contentContainer {
        width: 100%;
        height: 90%;
        display: flex;
        box-sizing: border-box;
        padding: 10px;

        #messagesContainer {

            order: 2;
            width: 30%;
            box-sizing: border-box;
            margin: 15px 20px 20px;
        }

        #mapContainer {

            width: 100%;
            order: 1;
            //padding: 15px;
            //box-sizing: border-box;
            height: 100%;
            //display: flex;
            //display: flex;
            //flex-direction: column;
        }
    }

}

#logInModal {
    background-color: white;
    position: fixed;
    top: 25vh;
    right: 40vw;
    z-index: 1000;
}

#signInModal {
    background-color: white;
    position: fixed;
    top: 25vh;
    right: 40vw;
    z-index: 1000;
}
