@import "../variables/color";

@mixin text-input($font-size:1.8rem, $color:$white, $font-style:normal, $line-height:1rem) {
  font-family: Roboto, serif;
  font-style: $font-style;
  font-weight: normal;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}