@charset "UTF-8";

@font-face {
  font-family: "icomoon";
  src: url(/fonts/icomoon.eot?507cece6727415fd385e43dc28ba53dc);
  src: url(/fonts/icomoon.eot?507cece6727415fd385e43dc28ba53dc) format("embedded-opentype"), url(/fonts/icomoon.ttf?01ecc9d5104af4c922ee8c1d25889d34) format("truetype"), url(/fonts/icomoon.woff?60a64f19da23fce7057fbce045f14ff6) format("woff"), url(/fonts/icomoon.svg?fd5ca236f90819aeff16dc5a679a8c7d) format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-send:before {
  content: "\E900";
}

.icon-paper-plane-o:before {
  content: "\E901";
}

.icon-send-o:before {
  content: "\E901";
}

.icon-envelop:before {
  content: "\E945";
}

.icon-eye:before {
  content: "\E9CE";
}

.icon-info:before {
  content: "\EA0C";
}

