<template>
    <div :class="['border', state ? '--checked' : '', '--'+color]">
        <font-awesome-icon class="icon" :icon="icons[type]" :inverse="true"></font-awesome-icon>
        <span class="text">{{text[type]}}</span>
        <div style="width: 10%;">
            <custom-checkbox v-model="state" @input="handleInput" :type="color" value="value" :style="'--width: 3rem'"></custom-checkbox>
        </div>
    </div>
</template>

<script>
    import { faPaw, faChild, faCommentDots, faShoppingCart } from '@fortawesome/free-solid-svg-icons'
    import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
    import CustomCheckbox from "./CustomCheckbox";
    export default {
        components: {CustomCheckbox, FontAwesomeIcon},
        name: "Category",
        props: {
          type: {
              type: String,
              default: 'talk',
              validator(val) {
                  return ['talk', 'pet', 'child', 'errants']
              }
          },
            /**
             * Type of the checkbox
             */
            color: {
                type: String,
                default: 'green',
                validator: (val) => {
                    return ['green', 'orange'].indexOf(val) !== -1;
                }
            },
            /**
             * Initial value of the checkbox
             */
            value: {
                type: Boolean,
                default: false
            }
        },
        mounted() {
            this.state = this.value
        },
        data() {
            return {
                icons: {
                    child: faChild,
                    errants: faShoppingCart,
                    pet : faPaw,
                    talk: faCommentDots,
                },
                text: {
                    child: "Garde d'enfants",
                    errants: "Aide aux courses",
                    pet: "Garde d'animaux",
                    talk: "Tenir compagnie"
                },
                state: false
            }
        },
        methods: {
            handleInput() {
                this.$emit('input', this.state)
            }
        }
    }
</script>

<style scoped lang="scss">
    @import "src/assets/style/variables/color";
    @import "src/assets/style/functions/geometry";
    @import "../assets/style/mixins/text";

    .icon {
        width: ratio(11);
        height: ratio(11);
    }

    .border {
        border: 3px solid $white;
        width: var(--width);
        min-height: ratio(30);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        border-radius: 2em;

        & > * {
            margin-top: ratio(5);
        }

        &.--checked {
            $color-variations: (
                    "orange": $orange-alt,
                    "green": $green-alt
            );

            @each $class, $color in $color-variations {
                &.--#{$class} {
                    border-color: $color;
                }
            }
        }
    }

    .text {
        @include text-input(ratio(8), $white, normal, 1em);
    }
</style>