<template>
    <div class="wrapper">
        <label class="checkbox">
            <input type="checkbox" v-model="valueData" @input="handleInput">
            <span class="checkbox-inner">
                <svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                    <path :class="'tick --'+type" d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z"/>
                </svg>
            </span>
        </label>
    </div>
</template>

<script>
    export default {
        name: "CustomCheckbox",
        props: {
            /**
             * Type of the checkbox
             */
            type: {
                type: String,
                default: 'green',
                validator: (val) => {
                    return ['green', 'orange'].indexOf(val) !== -1;
                }
            },
            /**
             * Initial value of the checkbox
             */
            value: {
                type: Boolean,
                default: false
            }
        },
        data() {
            return {
                valueData: false
            }
        },
        mounted() {
            this.valueData = this.value
        },
        methods: {
            handleInput() {
                this.$emit('input', !this.valueData)
            }
        }
    }
</script>

<style scoped lang="scss">

    @import "src/assets/style/functions/geometry";
    @import "src/assets/style/variables/color";

    .checkbox {
        display: inline-block;
        width: var(--width);
        height: var(--width);
        background-color: $white;
        position: relative;
    }

    .checkbox input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .checkbox-inner {
        opacity: 0;
        display: none;
        transition: opacity 1s ease;
        width: var(--width);
        height: var(--width);
    }

    // Define color variations
    $color-variations: (
        "orange": $orange-alt,
        "green": $green-alt
    );

    .tick {

        @each $class, $color in $color-variations {
            &.--#{$class} {
                fill: $color;
            }
        }
    }

    input:checked + .checkbox-inner {
        position: absolute;
        opacity: 1;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: calc(var(--width));
        z-index: 2;
    }

</style>