<template>
  <button type="button" :class="'--' + type" @click="handleClick">
    {{ label }}
  </button>
</template>

<script>
export default {
  name: "CustomButton",
  props: ["label", "type"],
  methods: {
    handleClick() {
      this.$emit("click");
    }
  }
};
</script>

<style scoped lang="scss">
@import "src/assets/style/variables/color";
@import "src/assets/style/variables/geometry";
@import "../assets/style/mixins/text";

button {
  border-style: none;
  outline: none;
  width: 100%;
  padding: 1rem;
  border-radius: $radius;
  @include text-input;
  box-sizing: border-box;

  // Define color variations
  $color-variations: (
    "blue": $blue,
    "orange": $orange,
    "green": $green
  );
  @each $class, $color in $color-variations {
    &.--#{$class} {
      background-color: $color;

      &:hover {
        background-color: darken($color, 5%);
      }

      &:active {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4) inset;
      }
    }
  }

  // Define color variations
}
</style>
