<template>
  <div class="wrapper">
    <input
      :type="type"
      :placeholder="placeholder"
      :value="value"
      @input="handleInput"
      :aria-label="aria.label"
      v-bind:readonly="!active"
      autocomplete="off"
    />
    <span v-if="error.length" class="error">{{ error }}</span>
  </div>
</template>

<script>
export default {
  name: "CustomInput",
  props: {
    /**
     * The value of the input
     */
    value: {
      type: String,
      default: ""
    },
    /**
     * The placeholder of the input
     */
    placeholder: {
      type: String,
      default: ""
    },
    /**
     * The error text in case of error
     */
    error: {
      type: String,
      default: ""
    },
    /**
     * The aria properties
     */
    aria: {
      type: Object,
      default: () => ({
        label: ""
      })
    },
    /**
     * Is input in readonly
     */
    active: {
      type: Boolean,
      default: true
    },
    /**
     * Type of the input
     */
    type: {
      type: String,
      default: "text",
      validator: val => {
        return ["text", "password", "email", "tel", "url"].indexOf(val) !== -1;
      }
    }
  },
  methods: {
    handleInput(e) {
      /**
       * Input the value if underlying input component trigger an input event
       * @type {Event}
       */
      this.$emit("input", e.target.value);
    }
  }
};
</script>

<style scoped lang="scss">
@import "src/assets/style/variables/color";
@import "src/assets/style/variables/geometry";
@import "../assets/style/mixins/text";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

input {
  width: 100%;
  outline: none;
  background-color: $foreground-alt;
  color: $white;
  padding: 1rem;
  border-radius: $radius;
  @include text-input(1.4rem);
  border: none;

  &::placeholder {
    color: $text;
  }

  &:read-only {
    background-color: darken($foreground-alt, 5%);
  }

  &:invalid {
    border: 1px solid $red;
  }
}

.error {
  font-style: italic;
  @include text-input(1.3rem, $red, italic);
  margin-top: 1rem;
  padding-left: 1rem;
}
</style>
