<template>
    <div class="wrapper">
        <span class="label" v-html="leftText"></span>
        <label class="switch">
            <input type="checkbox" aria-label="tets" v-model="valueData" @input="handleInput">
            <span class="slider-container">
                <span :class="'slider --' + (valueData ? rightColor : leftColor)"></span>
            </span>
        </label>
        <span class="label" v-html="rightText"></span>
    </div>
</template>

<script>
    export default {
        name: "ToggleSwitch",
        props: {
            /**
             * Slider color in left position
             */
            leftColor: {
                type: String,
                default: 'grey',
                validator: val => {
                    return ["grey", "green", "orange"].indexOf(val) !== -1;
                }
            },
            /**
             * Slider color in right position
             */
            rightColor: {
                type: String,
                default: 'grey',
                validator: val => {
                    return ["grey", "green", "orange"].indexOf(val) !== -1;
                }
            },
            /**
             * Slider left text
             */
            leftText: {
                type: String,
                default: '',
            },
            /**
             * Slider right text
             */
            rightText: {
                type: String,
                default: '',
            },
            /**
             * Output values
             */
            outputValues: {
                type: Object,
                default: () => ({
                    left: 'left',
                    right: 'right'
                }),
                validator: obj => {
                    return obj.hasOwnProperty('left') && obj.hasOwnProperty('right');
                }
            },
            value: {
                type: Boolean,
                default: false
            }
        },
        mounted() {
            this.valueData = this.value
        },
        data() {
            return {
                valueData: false
            }
        },
        methods: {
            handleInput() {
                this.$emit('input', !this.valueData ? this.outputValues['right'] : this.outputValues['left'])
            }
        }
    }
</script>

<style scoped lang="scss">

    @import "src/assets/style/variables/color";
    @import "src/assets/style/mixins/text";
    @import "src/assets/style/functions/geometry";

    .wrapper {
        display: flex;
        flex-direction: row;
        align-content: center;
        width: max-content;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: var(--width);
        height: ratio(34);
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider-container {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: $foreground-alt;
        transition: .4s;
        border-radius: ratio(34);
    }

    // Define color variations
    $color-variations: (
            "grey": $text-alt,
            "orange": $orange-alt,
            "green": $green-alt
    );
    
    .slider {
        position: absolute;
        height: ratio(24);
        width: ratio(24);
        left: ratio(4);
        bottom: ratio(4);
        transition: transform .4s ease, background-color .4s ease;
        border-radius: 50%;

        @each $class, $color in $color-variations {
            &.--#{$class} {
                background-color: $color;
            }
        }
    }

    input:checked + .slider-container>.slider {
        transform: translateX(ratio(26));
    }

    .label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include text-input(ratio(15), $white, normal, 1em);
        padding-left: 15px;
        padding-right: 15px;
        flex: none;
    }

</style>